<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Paquete</title>
</head>

<body>
    <div class="paquetes">
        <div class="container">
            <div class="pkg" id="pkg1">
                <h1 class="Title">Package 1</h1>
                <p class="parrafo">Package 1 description</p>
                <button class="show-button">Show Package</button>
            </div>

            <div class="pkg" id="pkg2">
                <h1 class="Title">Package 2</h1>
                <p class="parrafo">Package 2 description</p>
                <button class="show-button">Show Package</button>
            </div>
        </div>
    </div>
</body>

</html>