<div class="header-default">
    <div class="header-main">
      <div class="offers-btns">
        <div class="package">
          <div class="package-icon">
            <img class="airplane" src="../../assets/airplane.svg">
          </div>
          <div class="package-text">Paquetes</div>
        </div>
        <div class="hotel">
          <div class="hotel-icon">
            <img class="bed" src="../../assets/ion_bed.svg">
          </div>
          <div class="hotel-text">Hoteles</div>
        </div>
        <div class="excursion">
            <div class="excursion-icon">
              <img class="bicycle" src="../../assets/Property 1=ion_bicycle.svg">
            </div>
            <div class="hotel-text">Excursiones</div>
          </div>
      </div>
      <div class="logo">
        <div class="logo-img"> Travelette
          
        </div>
      </div>
    </div>
    <div class="header-btns">
      <a class="login-btn" routerLink="../login" >Login</a>
      <div class="signup-btn-container">
        <div class="signup-btn" >
          <a class="signup-text" routerLink="../signup">Sign up</a>
        </div>
      </div>
    </div>
  </div>